<%=
  react_component 'AssetGroup', {
    title: asset_group.title,
    thumb: asset_group.try(:thumb, '108x108').try(:url),
    assets: asset_group.assets.map do |asset| {
      id: asset.id,
      name: asset.file.name,
      extension: asset.file.name.split('.').pop,
      selected: true
    } end,
    download_url: download_brand_guide_asset_group_path(@brand_guide, asset_group)
  }
%>

<!-- <figure class="asset-group">
  <figcaption class="asset-group__caption">
    <%= asset_group.title %>
    <span class="open-buttons">
      <a class="ss-icon" rel="email" href="#">Email</a>
      <a class="ss-icon" rel="download" href="#">Download</a>
    </span>
  </figcaption>

  <div class="asset-group__asset" style="background-image: url('<%= asset_group.thumb('108x108').url if asset_group.has_thumb? %>')">
    <% unless asset_group.has_thumb? %>
      <i>File</i>
    <% end %>
  </div>

  <div class="asset-group__selector" style="display: none;">
    <ul>
      <% asset_group.assets.each do |asset| %>
        <li class="asset" data-id="<%= asset.id %>">
          <input type="checkbox" id="select-asset-<%= asset.id %>" />
          <label for="select-asset-<%= asset.id %>"><%= asset.file.name.split('.').pop %></label>
        </li>
      <% end %>
    </ul>

    <div class="buttons">
      <a rel="download" class="button" href="<%= download_brand_guide_asset_group_path(@brand_guide, asset_group) %>"><i class="ss-icon">Download</i> Download</a>
    </div>
  </div>
</figure>

<% if index % 2 == 1 %><hr /><% end %> -->