<h1>Edit <%= @brand_guide.title %> / <%= @section.title %></h1>

<%= simple_form_for [:admin, @brand_guide, @section], html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :content %>

  <%= f.input :files, label: 'Add Assets', as: :file, input_html: { multiple: true } %>

  <div>
    <% @section.asset_groups.each do |asset_group| %>
      <%= image_tag asset_group.thumb('120x120').url if asset_group.has_thumb? %>
      <ul>
        <% asset_group.assets.each do |asset| %>
          <li><%= asset.file_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= f.button :submit %>
<% end %>

<%= link_to "Back to #{@brand_guide.title}", edit_admin_brand_guide_path(@brand_guide) %>