<h1>Edit <%= @brand_guide.title %></h1>

<%= simple_form_for [:admin, @brand_guide] do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :subdomain %>

  <%= f.button :submit %>
<% end %>