<h1><%= @brand_guide.title %></h1>

<%= simple_form_for [:admin, @brand_guide] do |f| %>
  <%= f.error_notification %>

<!--   <%= f.input :title %>
  <%= f.input :password, as: :string %> -->

  <code><%= link_to brand_guide_url(@brand_guide, subdomain: @brand_guide.slug), brand_guide_url(@brand_guide, subdomain: @brand_guide.slug) %></code>

  <%= render 'pages', pages: @brand_guide.pages %>

  <%= link_to 'Add Page', new_admin_brand_guide_page_path(@brand_guide) %>

  <div class="buttons">
    <%= f.button :submit, 'Save Changes' %>
    <%= link_to 'Delete', admin_brand_guide_path(@brand_guide), method: :delete, confirm: 'Are you sure?' %>
  </div>
<% end %>

<%= link_to 'Back to Dashboard', admin_root_path %>