<%=
  react_component 'BrandGuideEditor', {
    currentUser: current_user.attributes,
    guide: {
      id: @brand_guide.id,
      slug: @brand_guide.slug,
      title: @brand_guide.title,
      pages: @brand_guide.pages.map do |page| {
        id: page.id,
        title: page.title,
        slug: page.slug,
        sections: page.children.map do |section| { 
          id: section.id,
          title: section.title,
          slug: section.slug
        } end
      } end
    }
  }, { prerender: true }
%>


<!--  TODO: put this stuff in a dropdown...

  <%= simple_form_for [:admin, @brand_guide] do |f| %>
    
    <%= f.error_notification %>
    
    <%= f.input :title %>
    <%= f.input :password, as: :string %>

    <code><%= link_to brand_guide_url(@brand_guide, subdomain: @brand_guide.slug), brand_guide_url(@brand_guide, subdomain: @brand_guide.slug) %></code>

    <div class="buttons">
      <%= f.button :submit, 'Save Changes' %>
    </div>

  <% end %> 

  <a href="<%=admin_brand_guide_path(@brand_guide)%>" data-method="delete" data-confirm='Are you sure you want to delete this brandguide?'>delete</a>

-->


<!-- <div class="editor">

  <div class="editor__tree">

    <a href="#" class="editor__toggle">
      <span class="_icon ss-icon">record</span>
      <span class="_icon ss-icon">record</span>
      <span class="_icon ss-icon">record</span>
    </a>
    
    <%= render 'tree', pages: @brand_guide.pages.order('created_at ASC') %>
  
  </div>

  <div class="editor__content">
    <%= render 'content', pages: @brand_guide.pages %>
  </div>

</div> -->


<!-- 
<div class="guides__footer">

  <a class="guides__delete" 

</div> -->