<h1>Edit <%= @brand_guide.title %></h1>

<%= simple_form_for [:admin, @brand_guide] do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :subdomain %>

  <ul>
    <% @brand_guide.sections.each do |section| %>
      <li><%= link_to section.title, [:edit, :admin, @brand_guide, section] %></li>
    <% end %>
  </ul>

  <%= f.button :submit %>
<% end %>