<!DOCTYPE html>
<html>
<head>
  <title>BMS</title>
  <%= stylesheet_link_tag    :application, media: :all, "data-turbolinks-track" => true %>
  <%= javascript_include_tag :application, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>

  <% if user_signed_in? %>
    <div id="current_user">
      Signed in as <%= current_user.email %>. <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
  <% end %>

  <div id="yield">
    <%= yield %>
  </div>
</body>
</html>
