<!DOCTYPE html>
<html>
<head>
  <title>brandguide.io</title>

  <%= stylesheet_link_tag :application, media: :all %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# pipe breakpoints to javascript %>
  <div id="js__media-check"></div>

  <div id="flash">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>

  <% if user_signed_in? %>
    <div id="current_user">
      Signed in as <%= current_user.email %>. <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
  <% end %>

  <%= yield %>
  
  <%= javascript_include_tag :application %>

  <% if Rails.env.development? %>
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  <% end %>
  
</body>
</html>