<!DOCTYPE html>
<html>
<head>
  <title>brandguide.io</title>

  <%= render 'shared/head' %>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# pipe breakpoints to javascript %>
  <div id="js__media-check"></div>

  <div id="flash">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>

  <div class="header">
    
    <!-- TODO: make the header text dynamic on different views 

          - sometimes it'll need to be positioned left (breadcrumbs)
          - some of these views might be front end layers tho?
          - ...maybe the header should be a dynamic element inside yeild?
    -->
    <h2 class="header__text">brandguide.io</h2>
    <div class="header__settings">
      <%= render 'shared/user_settings' if user_signed_in? %>
    </div>

  </div>

  <%= yield %>

  <%= javascript_include_tag :application %>

  <%= render 'shared/livereload' if Rails.env.development? %>
</body>
</html>