<!DOCTYPE html>
<html>
<head>
  <title><%= @brand_guide.title %> Brand Guide</title>

  <%= stylesheet_link_tag :guide %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="js__opacity-hack"></div>
  <div id="js__media-check"></div>
  <div id="outside_translate" class="grid-container"></div>

  <div id="yield">
    <%= yield %>
  </div>

  <%= javascript_include_tag :guide %>
</body>
</html>