<!DOCTYPE html>
<html>
<head>
  <title><%= @guide.title %> Brand Guide</title>

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-precomposed.png') %>" sizes="152x152">
  <%= stylesheet_link_tag :guide %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="banner" style="<% if @guide.slug == 'test' %>background-image: url(<%= asset_path('headers/huxtaburger.jpg') %>);<% end %>">
    <div class="inner">
      <span class="mtime">Last updated <%= time_ago_in_words(@guide.updated_at) %> ago</span>
      <div class="titles">
        <h1><a href="<%= root_path(subdomain: @guide.slug) %>"><%= @guide.title %></a></h1>
        <h2><a href="<%= root_path(subdomain: @guide.slug) %>">Brand Guide</a></h2>
      </div>
    </div>
    <div class="gradient"></div>
  </header>

  <% if authenticated? %>
    <section id="main">
      <div class="inner">
        <%= yield %>
      </div>
    </section>

    <footer id="footer">
      <div class="inner">
        <p>Copyright &copy; <%= Time.now.year %> <%= @guide.title %>. Built with <a href="http://brandguide.io">brandguide.io</a>.</p>
      </div>
    </footer>
  <% else %>
    <form id="authenticate" action="/authenticate" method="post">
      <input name="password" type="password" placeholder="Enter Password" />
      <input type="hidden" name="guide" value="<%= @guide.slug %>" />
      <input type="submit" />
    </form>
  <% end %>

  <script>
    window.guide = {
      primary: '<%= @guide.primary_colour %>'
    }
  </script>

  <%= javascript_include_tag :guide %>
</body>
</html>