<!DOCTYPE html>
<html>
<head>
  <title>brandguide.io</title>

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon-precomposed.png') %>" sizes="152x152">
  <%= stylesheet_link_tag :guide %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="banner" data-slim="<%= (@section.present? || @page.present?) ? true : false %>">
    <div class="inner">
      <span class="mtime"><%= @guide.updated_at.to_date.to_formatted_s(:rfc822) %></span>
      <div class="titles">
        <h1><a href="<%= root_path(subdomain: @guide.slug) %>"><%= @guide.title %></a></h1>
        <h2><a href="<%= root_path(subdomain: @guide.slug) %>">Brand Guide</a></h2>
      </div>
    </div>
    <div class="gradient"></div>
  </header>

  <section id="main">
    <div class="inner">
      <%= yield %>
    </div>
  </section>

  <footer id="footer">
    <div class="inner">
      <p>Copyright &copy; <%= Time.now.year %> <%= @guide.title %>. Built with <a href="http://brandguide.io">brandguide.io</a>.</p>
    </div>
  </footer>

  <script>
    window.guide = {
      primary: '<%= @guide.primary_colour %>'
    }
  </script>

  <%= javascript_include_tag :guide %>
</body>
</html>