<!DOCTYPE html>
<html>
  <head>
    <title><%= @brand_guide.title %> Brand Guide</title>

    <%= stylesheet_link_tag :guide %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="js__media-check"></div>

    <h2>Brand Guide</h2>
    <h2><%= link_to @brand_guide.title, brand_guide_path(subdomain: @brand_guide.slug) %></h2>

    <% if authenticated? %>

      <%= yield %>
    
    <% else %>

      <%= simple_form_for [:authenticate, @brand_guide], method: :post do |f| %>
        <%= f.input :password %>
        <%= f.submit 'Login' %>
      <% end %>

    <% end %>

    <%= javascript_include_tag :guide %>

    <%= render 'shared/livereload' if Rails.env.development? %>
  </body>
</html>